@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #26272b;
  color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  font-size: 2.5rem;
  color: 	#FF7F50;
}
.orange{
  color: 	#FF7F50;
}
.table{
  border-collapse: collapse;
}
.container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 1140px;
  margin:auto;
}

/* .......................search style........................ */
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-bottom: 20px;
}
.input-search{
  height: 35px;
  width: 35px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #FF7F50;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 40px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.load-more{
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #FF7F50;
  transition: .3s;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 1px;
}

.load-more:hover {
  color: #FF7F50;
  background-color: #26272b;
  border: 1px solid #FF7F50;
  text-decoration: none;
}
/* .......................search style........................ */


.coin-image{
  height: 40px;
  margin-right: 10px;
}
tr{
  background-color: #26272b;
  box-shadow: 0px 0px 12px #18191b;
}
td{
  text-align: center;
  padding:1rem;
}
th{
  padding:2rem;
}

.image-symbol{
  display: flex;
  align-items: center;
}
.coin-name , .rank{
  text-align:left;
  padding: 1rem;
}

tr:hover{
  transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;
}
.green{
  color: #5BB318;
}
.red{
  color: #FF4A4A;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 710px){ 
    .hide-mobile{
        display: none;   
}
}

@media screen and (max-width: 420px){ 
 .coin-image{
   height: 20px;
 }
 .coin-name-in-list, .rank, .day-price, .week-price, .current-price, .coin-name {
   font-size: .6rem;
 }

 
}




